
  *{
     margin:0;
     padding:0;
  }
  body{
    background:url(images/checkout_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navigation ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
    position:relative;
    top:0;
    height: 60px;
    z-index: 1;
    width:100%;
  }
 .navigation li{
    float: right;
    position: relative;
  }
 .navigation li a{
    display: block;
    color:white;
    text-align:center;
    padding: 25px 25px 25px 25px;
    text-align: underline;
    height: auto;
    justify-content: center;
    font-variant: small-caps;
    transition: 1 sec;
    text-transform: capitalize;
    letter-spacing: 0.7px;
  
  }
 .navigation li a:hover{
    color:#c59d5f;
  
  }
 .navigation li a.active{
    background-color: burlywood;
  }
 .box{
   padding-left:7px;
   padding-right: 5px;
   padding-top: 5px;
 }
  .container {
    background-color: #c6dddbb2;
    padding: 5px 20px 15px 20px;
    border: 2px solid black;
    border-radius: 15px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
 select{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.js-hidden{
	display:none;
}